/*Global Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body Styling*/
body {
    font-family: "Poppins", serif;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #4D4F62;
    font-weight: 200;
    font-size: 36px;
}

h2 {
    color: #4D4F62;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 16px;
}

h3 {
    color: #4D4F62;
    font-weight: 600;
    font-size: 24px;
    padding: 16px;
}

p {
    color: #A6A8B1;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.75;
    padding: 0px 16px 0px 1px;
}

/*Header Container*/
.header-container {
    width: 540px;
    height: auto;
    margin-bottom: 64px;
}

.header-container p {
    font-size: 15px;
    padding: 0;
}

/*Section Styling*/
.section-container {
    display: flex;
    width: 1110px;
    height: 530px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.column {
    margin: 0 10px;
    flex-basis: 100%;
}

.card {
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:nth-child(2) {
    margin-top: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .card-content h3{
    padding: 0px;
    margin-bottom: 8px;
  }

  .card-image {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
  }

.card img {
    width: 65px;
    height: auto;
}

/*Top Border Color*/
.card-supervisor {
    border-top: 4px solid #44D3D2;
}

.card-teambuilder {
    border-top: 4px solid #EA5454;
}

.card-karma {
    border-top: 4px solid #FCAE4A;
}

.card-calculator {
    border-top: 4px solid #549EF2;
}

/*Media Queries*/
@media (max-width: 768px) {

}